footer {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}

#links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#links a {
    color: var(--link-color);
}