@if (!gameWon) {
    <h2>Round {{round}}</h2>
    <div [innerHTML]="message"></div>
    @if (!showCopyButton) {
        <div class="inputGroup">
            <input [(ngModel)]="newWord" type="text" placeholder="Enter your word here" class="wordTextBar"
                (keydown.enter)="onSubmit()" />
            <button (click)="onSubmit()">Submit</button>
        </div>
    }
    @if (showCopyButton) {
        <p><button (click)="copyToClipboard()">Click here to copy the message to your clipboard</button></p>
    }
}

@if (gameWon) {
    <p>Congratulations! you both managed to say {{newWord}} after {{round}} rounds!</p>
}