<div id="container">
    <h2>Round {{round}}</h2>
    @if (showPromptCard) {
    <div class="card" id="promptCard" [@cardAnimation]="promptCardState">
        @if (round == 1) {
        <p>Welcome to same the Same Thing! The goal of this game is to say the same thing as your friend. If you say
            "hamburger" and your friend say "fries", then you have to think of a word that links those two words. If you
            both say "fast food" you win!. If you say "fast food" but your friend says "unhealthy", then you keep
            playing until you say the same thing.</p>
        }
        <div [innerHTML]="message"></div>
        <div class="inputGroup">
            <input [(ngModel)]="yourWord" type="text" placeholder="Enter your word(s) here" class="wordTextBar"
                (keydown.enter)="onSubmit(1)" />
            <button (click)="onSubmit(1)">Submit</button>
        </div>
    </div>
    }
    @if (showIncorrectCard) {
    <div class="card" id="incorrectCard" [@cardAnimation]="incorrectCardState">
        <p>You didn't say the same thing. Its your turn to find a word that links <strong>{{theirWord}}</strong> and
            <strong>{{yourWord}}</strong>:</p>
        <div class="inputGroup">
            <input [(ngModel)]="newWord" type="text" placeholder="Enter your word(s) here" class="wordTextBar"
                (keydown.enter)="onSubmit(2)" />
            <button (click)="onSubmit(2)">Submit</button>
        </div>
    </div>
    }
    @if (showShareCard) {
    <div class="card" id="shareCard" [@cardAnimation]="shareCardState">
        <p>Now Share this link with your friend to keep playing:</p>
        <p><strong>{{urlString}}</strong></p>
        <p>OR</p>
        @if (round < 3) { <p>Click the button below, then paste the message into your text/email/message to your friend.
            </p>
            }
            <button (click)="copyToClipboard(1)">Click here to copy the message to share</button>
    </div>
    }
    @if (showCorrectCard) {
    <div class="card" id="correctCard" [@cardAnimation]="correctCardState">
        <p>Congratulations! When you saw <strong>{{lastWordOne}}</strong> and <strong>{{lastWordTwo}}</strong> you both managed to say <strong>{{yourWord}}</strong>!</p><p>You guessed said the same word after {{round}} rounds.</p>
        <div class="btnWrapper">
            @if (!textedWon) {
                <button (click)="copyToClipboard(2)">Click here to copy the message to share</button>
            }
            <button (click)="playAgain()">Play Again</button>
        </div>
    </div>
    }
</div>